.country
    &__title
        font-weight: 600
        font-size: 14px
        color: var(--ColorText)
    &__text
        font-size: 12px
        margin: 0 0 10px 0
        color: var(--ColorText)
    &__img
        height: 120px
        object-fit: contain
        width: 100%
        object-position: center

@media only screen and (max-width: 768px)
    .country
        &__img
            object-fit: cover
